<!doctype html>
<html ng-app="Eggly">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Anca's</title>

        <link rel="stylesheet" href="assets/css/normalize.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/app.css">
		
    </head>
    <body ng-controller = "MainCtrl">
        <div class="container-fluid">
            <div class="row">
                <div style="background-color:#FF5050" class="col-sm-3 col-md-3 sidebar">
                    <a href="#"><img class="logo" src="assets/img/logo.png"></a>
                    <ul class="nav nav-sidebar">
					 <li ng-repeat="category in categories" ng-class = "{'active':isCurrentCategory(category)}">
						<a href="#" ng-click="setCurrentCategory(category)">{{category.name}}<a/>
					 </li>
                    </ul>
                </div>
                <!-- in verificarea categoriei curente nu este bine ca m-am bazat pe ordinea in vector TODO -- modifica-->
                <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 main" ng-if="isCurrentCategory(categories[0])">
					
                    <hr/>	
					<!--CREATING-->
					<div class="container col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3" ng-if="shouldShowAddingExpense()">
						<button type="button" ng-show="!isCreating" class = "btn  btn-link btn-xs" ng-click="startCreating()">
							<span class="glyphicon glyphicon-plus"></span>
							Adauga o cheltuiala pe ziua de azi!
						</button>
						<form novalidate class="create-form" ng-show="isCreating" role="form" ng-submit="addExpense()" >
							<div class="form-group">
								<label for="dateID">Selecteaza data</label>
								<input type="date" class="form-control"  id="dateID" name="date" ng-model="formDate.expenseDate" placeholder="yyyy-MM-dd" min="2015-01-01"required />
							</div>
							<div class="form-group">
								<label for="newExpenseTitle">Descriere cheltuiala(max 255 caractere)</label>
								<input type="text" class="form-control" id="newExpenseTitle" ng-model = "expenses[0].title" placeholder="Scurta descriere/nume generic"/>
							</div>
							<div class="form-group">
								<label for="newExpense.sum">Suma cheltuita</label>
								<input type="text" class="form-control" id="newExpenseSum" ng-model="expenses[0].sum" placeholder="Suma cheltuita"/>
							</div>
							<div class="form-group">
							<button class="btn btn-warning btn-sm" ng-show="registrationCompl(expenses[0]) && extraRows == 0" ng-click="showOneMoreEntry()">Adauga inca una!</button>
							</div>
							<div  ng-repeat="value in getNumber(extraRows) track by $index" >
								<div class="form-group">
									<label for="newExpenseTitle">Descriere cheltuiala(max 255 caractere)</label>
									<input type="text" class="form-control" id="newExpenseTitle" ng-model = "expenses[$index + 1].title" placeholder="Scurta descriere/nume generic"/>
								</div>
								<div class="form-group">
										<label for="newExpense.sum">Suma cheltuita</label>
									<input type="text" class="form-control" id="newExpenseSum" ng-model="expenses[$index + 1].sum" placeholder="Suma cheltuita"/>							
								</div>
								<div class="form-group">
									<button class="btn btn-warning btn-sm" ng-show="registrationCompl(expenses[$index + 1]) && $index + 1 == extraRows" ng-click="showOneMoreEntry()">Adauga inca una!</button>
								</div>
							</div>
							<div class="form-group">
							<button type="submit" class="btn btn-info btn-lg pull-left" ng-click="saveExpense(formDate, expenses)">Adauga cheltuiala pe ziua de azi!</button>
							</div>
							<div class="form-group">
							<button type="button" class="btn btn-default btn-lg pull-right" ng-click="cancelCreating()">Cancel creating!</button>
							</div>
						</form>
					</div>
					<!--LISTING-->
					<div class = "container col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3" ng-show="!isCreating && !isEditing">
						<ul>
							<li ng-repeat="expense in allExpenses">
								<a "href="#">{{expense.date}}</a>
								<button type="button" ng-click = "removeExpense(expense)" class=close">&times;</button>
								<button type="button" ng-click="setEditedExpense(expense);startEditing();" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></button>
							</li>
						</ul>	
					</div>
					<!---EDITING-->
					<hr/>
					<div ng-show="shouldShowEditing()">
						<h1>Editing {{editedExpense.date}}</h1>
						<form novalidate class="edit-form" role="form" ng-submit="updateExpense(editedExpense)" >
							<div  ng-repeat="value in getNumber(editedExpense.subExpenses.length) track by $index" >
								<div class="form-group">
									<label for="expenseTitle">Descriere cheltuiala(max 255 caractere)</label>
									<input type="text" class="form-control" id="expenseTitle" ng-model = "editedExpense.subExpenses[$index].title" placeholder="Scurta descriere/nume generic"/>
								</div>
								<div class="form-group">
										<label for="expenseSum">Suma cheltuita</label>
									<input type="text" class="form-control" id="expenseSum" ng-model="editedExpense.subExpenses[$index].sum" placeholder="Scurta descriere/nume generic"/>							
								</div>
							</div>
							<button type="submit" class="btn btn-info btn-lg">Edit</button>
							<button type="button" class="btn btn-default btn-lg pull-right" ng-click="cancelEditing()">Cancel editing!</button>
						</form>
					</div>
				</div>
            </div>
        </div>
        

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="app/app.js"></script>
		<script src="app/ngStorage.min.js"></script>
		
	</body>
</html>
